.user-container {
  margin-top: 2em;
  width: 95%;
}

.register-box {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

.register-box mat-form-field {
  width: 100%;
}
.right-btn {
  margin-left: 1em;
}

.user-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.validation-alert {
  color: red;
  font-size: smaller;
}
