mat-grid-list {
  margin: 2em 1em 0 1em;
}

mat-grid-tile:first-child {
  border: 3px solid #3f51b5;
}

mat-grid-tile:last-child {
  border: 3px solid deepskyblue;
}

.membership-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}

form {
  width: 80%;
  text-align: left;
}

mat-form-field {
  width: 100%;
}

.float-left {
  float: left;
  margin-right: 0.5rem;
}

.float-right {
  float: right;
}
