<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="memberships" matSort>
  <!-- SubscriptionNumber Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Membership name</th>
    <td mat-cell *matCellDef="let membership"> {{membership.name}}</td>
  </ng-container>
  <!--First name Column -->
  <ng-container matColumnDef="passes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Passes</th>
    <td mat-cell *matCellDef="let membership"> {{membership.passes}} </td>
  </ng-container>

  <!-- Last name Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
    <td mat-cell *matCellDef="let membership"> {{membership.price}}</td>
  </ng-container>

  <!-- Delete user Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let membership">
      <button mat-stroked-button color="warn" (click)="delete(membership.id)">delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
