<mat-grid-list cols="2" rowHeight="5em">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4">
        <form [formGroup]="membershipForm" (ngSubmit)="save(membershipForm.value)" >
          <!-- Membership name input field -->
          <mat-form-field appearance="outline">
            <mat-label>Membership name</mat-label>
            <input matInput formControlName="name" name="name">
          </mat-form-field>
          <br>
          <!-- Passes input field -->
          <mat-form-field appearance="outline">
            <mat-label>Passes</mat-label>
            <input type="number" matInput formControlName="passes" name="passes">
          </mat-form-field>
          <br>
          <!-- Price input field -->
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput formControlName="price" name="price">
          </mat-form-field>
          <br>
          <!-- submit and reset buttons -->
          <button mat-stroked-button class="float-left" color="primary" type="submit">Submit</button>
          <button mat-stroked-button type="reset">Reset</button>
        </form>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="8">
      <div class="membership-list">
        <app-memberships></app-memberships>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
