<div class="order-management-container">
  <mat-grid-list cols="2" rowHeight="5.1em">
    <!-- Select user-->
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="3">
      <div>
        <form class="full-width">
          <mat-form-field>
            <input
              type="text"
              placeholder="Select User"
              aria-label="Number"
              matInput
              [formControl]="userControl"
              [matAutocomplete]="auto">
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="getSelectedUser($event.option.value)"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.firstName + ' ' + option.lastName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <!-- Select product -->
        <mat-form-field class="full-width">
          <mat-label>Select product</mat-label>
          <mat-select
            [(ngModel)]="selectedProducts"
            [formControl]="productControl"
            (selectionChange)="getSelectedProducts($event.value)" multiple>
            <mat-option *ngFor="let product of products"
                        [value]="product">
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Select membership -->
        <mat-form-field class="full-width">
          <mat-label>Select membership</mat-label>
          <mat-select
            [(ngModel)]="selectedMemberships"
            [formControl]="membershipControl"
            (selectionChange)="getSelectedMemberships($event.value)" multiple>
            <mat-option *ngFor="let membership of memberships"
                        [value]="membership">
              {{membership.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <!-- Total with all selected products -->
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="5">
      <div class="pre-order-table mat-elevation-z8">

        <table mat-table [dataSource]="order.groupItems()">
          <!-- Item Column -->
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
            <td mat-footer-cell *matFooterCellDef> Total</td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <td mat-cell *matCellDef="let product"> {{product.price | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
          </ng-container>

          <!-- Decrement button Column -->
          <ng-container matColumnDef="decrement">
            <td mat-cell *matCellDef="let orderedItem">
              <button mat-stroked-button color="primary" (click)="decrementCounter(orderedItem)">-</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Count Column -->
          <ng-container matColumnDef="count">
            <td mat-cell *matCellDef="let product">
              <input class="count" type="number" matInput [(ngModel)]="product.count" disabled>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <button [disabled]="order.products.length < 1 && order.memberships.length < 1"
                      mat-stroked-button
                      color="primary"
                      (click)="soldOut()">
                Sold Out
              </button>
            </td>
          </ng-container>

          <!-- Increment button Column -->
          <ng-container matColumnDef="increment">
            <td mat-cell *matCellDef="let orderedItem; let i = index">
              <button mat-stroked-button color="primary" (click)="incrementCounter(orderedItem)">+</button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <button [disabled]="order.products.length < 1 && order.memberships.length < 1"
                      mat-stroked-button
                      (click)="resetOrder()">
                Cancel
              </button>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <section>
    <div class="open-order">
      <app-order-list [orders$]="openOrders$" ></app-order-list>
    </div>
  </section>
  <section class="footer" style="height: 10em; border: solid 3px red; margin-top: 2em"></section>
</div>
