<div class="component-field-container">
    <!-- Form body -->
    <div class="input-form">
        <form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <!-- name input field -->
            <mat-form-field class="input-field">
                <mat-icon matPrefix>save_alt</mat-icon>
                <mat-label>Product name</mat-label>
                <input matInput placeholder="Name between 2 and 50 characters, white spaces allowed"
                    formControlName="productName" id="name" name="productName" [(ngModel)]="product.name">
                <div *ngIf="productName.invalid && (productName.dirty || productName.touched)">
                    <div *ngIf="productName.errors.required">
                        <span class="validation-alert">is required</span>
                    </div>
                    <div *ngIf="productName.errors.pattern">
                        <span class="validation-alert">must be between 2 and 50 characters long</span>
                    </div>
                </div>
            </mat-form-field>

            <!-- price input field -->
            <mat-form-field class="input-field">
                <mat-icon matPrefix>money</mat-icon>
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price in BGN. Ex: 1000, 1000.01, 0.01" formControlName="productPrice"
                    id="price" name="productPrice" [(ngModel)]="product.price">
                <div *ngIf="productPrice.invalid && (productPrice.dirty || productPrice.touched)">
                    <div *ngIf="productPrice.errors.required">
                        <span class="validation-alert">is required</span>
                    </div>
                    <div *ngIf="productPrice.errors.pattern">
                        <span class="validation-alert">must be between between 0.01 and 9999.99</span>
                    </div>
                </div>
            </mat-form-field>

            <!-- buttons at the bottom -->
            <div class="two-buttons">
                <!-- submit button -->
                <button mat-raised-button [disabled]="productForm.invalid" type="submit" color="primary">Submit</button>
                <!-- cancel button -->
                <button mat-raised-button color="warn" type="reset" (mousedown)="goToProductList()">Cancel</button>
            </div>
        </form>
    </div>
</div>
