
.form-container {
  /*border: lightseagreen solid 3px;*/
  width: 90%;
  margin-left: 1em;
}

.memberships-container {
    /*border: lightseagreen solid 3px;*/
}

mat-form-field {
  width: 100%;
}

.float-left {
  float: left;
  margin-right: 0.5rem;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}
